#Project
.idea/
windows/
phylip.txt
RAx_Files/
RAxML_Files/
testFiles/
Trees/
*.pyc
*.jpg
*.png
*.pdf
*.psd
*.svg
Topologies
*.swp
*.swo
RAxML_SpeciesTree
*.bkp
plots/
!Luay.jpg
!tree.png
!warning.png
!testFiles/phylip.txt
!imgs/alphaLogo.png
!CommandLineFiles/mosquito.py
